@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-script: var(--font-script), cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: #09090b;
  color: #ededed;
  font-family: var(--font-mono), monospace;
  -webkit-font-smoothing: antialiased;
  background-image: radial-gradient(#27272a 1px, transparent 1px);
  background-size: 24px 24px;
}

::selection {
  background: #e5e5e5;
  color: black;
}